body {
    background:url(https://avatars.mds.yandex.net/get-pdb/1365671/a0cb1166-9529-412b-8a3a-ed261c43517b/s1200?webp=false) fixed no-repeat center center;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    }
    fieldset{
    width:600px;
    height:200px;
    margin:5px;
    margin-top:2px;
    background-color:#87CEFA;
    box-shadow:0 0 10px rgba(0,0,0,0.5);
}
input{
    margin:7px;
}